/node_modules
/public/hot
/public/storage
/public/public
/public/uploaded
/storage/*.key
/vendor
/public/assets_home
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
