RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^(www.)?asicsCNY2021.mobileconnect.co.th$
RewriteCond %{REQUEST_URI} !^/asics/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /asics/public/$1
RewriteCond %{HTTP_HOST} ^(www.)?asicsCNY2021.mobileconnect.co.th$
RewriteRule ^(/)?$ asics/public/index.php [L]